@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: oklch(98.5% 0.001 106.423);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(92% 0.01 240);
  --color-primary-foreground: oklch(0.205 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-muted-foreground: rgb(60, 60, 60);
  --color-accent: oklch(80% 0.025 293.756); 
  --color-accent-foreground: oklch(0.205 0 0);
  --color-gold: oklch(80% 0.12 85);
  --color-border: oklch(0.922 0 0);
  --color-ring: oklch(0.556 0 0);
  --color-shadow: oklch(86.9% 0.005 56.366);
}

@layer theme {
  .dark {
    --color-background: oklch(0.145 0 0);
    --color-primary: oklch(0.18 0 0);
    --color-primary-foreground: oklch(0.205 0 0);
    --color-foreground: oklch(0.96 0 0);
    --color-accent: oklch(0.269 0 0);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-color-primary: rgb(32, 40, 66);
    --color-popover: oklch(0.205 0 0);
    --color-popover-foreground: oklch(0.985 0 0);
    --color-muted-foreground: rgb(200, 200, 200);
    --color-gold: rgba(229, 193, 0, 1);
    --color-border: oklch(1 0 0 / 10%);
    --color-ring: oklch(0.556 0 0);
  }
}

@layer utilities {
  .font-cinzel {
    font-family: "Cinzel", serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-lato {
    font-family: "Lato", sans-serif;
  }

  .font-open-sans {
    font-family: "OpenSans", sans-serif;
  }

  .font-merriweather {
    font-family: "Merriweather", serif;
  }

  .font-libre {
    font-family: "Libre Baskerville", serif;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  :root {
    --font-cinzel: "Cinzel", serif;
  }

  body {
    @apply text-foreground;
    transition: background-color 0.3s ease;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: var(--font-cinzel), system-ui, sans-serif;
  }
  .dark body {
    @apply bg-background text-foreground;
  }
}

@keyframes shimmer {
  0% {
    background-position: -500% 0;
  }
  100% {
    background-position: 500% 0;
  }
}

@keyframes bounce-cool {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

.animate-bounce-cool {
  animation: bounce-cool 1.2s infinite;
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

html {
  scrollbar-gutter: stable;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
